# .NET Core
project.lock.json
.project.json
.vscode/
bin/
obj/
*.dll
*.exe
*.suo
*.pdb
*.csproj.user
*.appsettings.json
*.appsettings.Development.json
.DS_Store

# Visual Studio Code
.vscode/

# Visual Studio
*.user
*.suo
*.cache
*.pdb
*.dll
*.exe
*.cache
*.log
*.vspscc
*.vssscc
*.obj
*.bin
*.userprefs
*.pidb
*.svclog
*.ipch/
*.ncb
*.suo
*.sdf
*.opensdf
*.cachefile
*.VC.db
*.VC.opendb
*.vsidx
*.dll
*.pdb
*.bin
*.v2
*.suo
.vs/DataVox/v17/DocumentLayout.json
.vs/DataVox/v17/DocumentLayout.json
/.vs/DataVox/v17
/.vs
.vs/DataVox/v17/DocumentLayout.json
